<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename= 'favicon.png')}}">
    <title>FMS | About Us</title>
    <link rel="stylesheet" href="static/css/about.css">
</head>
<body>
    <center>
    <h1>About Us
    <div class="boarder"></div>
    </h1>
    <div class="text">
        <p>
        Football is a team sport played between two teams of 11 players each and a referee. It is the 
        most popular sport in the world, with about 3.5 billion fanatics. With a vast fandom, arises big 
        fights on which is the best/ideal team in a league or who is the best player in that league. This 
        project will bring an end to this endless battle.
        </p><p>
        This website is targeted to those hardcore football fans who wish to satisfy their curiosity and 
        settle any debate on which player really is the best. The website aims to provide a clear 
        graphic, which helps football lovers to interpret and make reasonable assessments about 
        real world football players.
        </p><p>
        Football Manager Simulator is a passion project for our group, and we hope this 
        Website can be enjoyed by both Football fanatics and an average user alike.
        </p>
    </div>
    </center>
    <br><br>
    <img src={{ url_for("static", filename='ab.gif')}}>
    <br><br>
    <a href="home">
        <button class="button">
            <span>Back</span>
        </button>
    </a>
</center>
</body>
</html>