<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <title>FMS | Ranking Mode</title>
</head>
<body>
    <h1>Rank Mode</h1>
    <form action="/rop" method = "POST">
        <p>
            Position : 
            <select name="pos" id="pos">
                <option value="GK">GoalKeeper</option>
                <option value="DEF">Defender</option>
                <option value="MID">Mid-Fielder</option>
                <option value="ATT">Striker</option>
            </select>
        </p>
        <p>Age : <input type="text" name="age"/></p>
        <p>Nationality : <input type="text" name="country"/></p>
        <p>
            SortBy : 
            <select name="sortby" id="sortby">
                <option value="Overall">Overall</option>
                <option value="Height_cm">Height in cm</option>
                <option value="Acceleration">Acceleration</option>
                <option value="Weight">Weight</option>
            </select>
        </p>
        <p>Number of Players  <input type="text" name="nop"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>    
</body>
</html>

<!-- 
Rank
 -> Position - Dropdown
 -> Age - Dropdown
 -> Nationality - Text 
 -> SortBy 
-->